@forward 'reset';
@use 'variables';
header{
    background: variables.$heder-bgcollor;
}
@mixin para-style ($size,$style){
    font-size: $size;
    text-align: $style;
    margin: 10px 0;
}
.btn{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
    transition: .4s;

}
.btn-download{
    @extend .btn;
    background: green;
    color: #fff;
}
.btn-learn{
    @extend .btn;
    background-color: chocolate;
    color: #fff;
}

nav{
    margin-top: 15px;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            margin: 5px 15px;
            a {
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: 10px;
                transition: 0.4s;
                border-radius: 5px;
            }
            a:hover {
                color: green;
                background-color: wheat;
            }
        }
    }
}




main{
    background: variables.$main-bgcollor;
    padding: 10px 20px;
}
#about p{
    @include para-style(18px, left);
}
#education p{
    @include para-style(18px, left);
}
footer{
    background: variables.$footer-bgcollor;
}
