*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}
header{
    background-color: bisque;
    padding: 1rem .5rem;
}
main{
    background-color: #ededed;
    padding: 1rem
}